[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asgiref = "==3.8.1"
django = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
pyjwt = "==2.9.0"
sqlparse = "==0.5.3"
typing-extensions = "==4.13.2"
pymongo = "*"

[dev-packages]

[requires]
python_version = "3.10"
